.collection-page {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center;
}

.collection-page > .title {
    font-size: 33px;
    margin: 0 auto 30px;
}

.items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
@media screen and (max-width: 800px) {
    .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    }
    /* .items >.colllection-item {
        margin-bottom: 80px;
    } */
    .collection-page{
    align-items: center;
    }
}

.items > .colllection-item {
    margin-bottom: 40px;
}